/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.embla {
  overflow: hidden;
  width: 100%;
  height: 85px;
  margin-top: -20px;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: 'center';
  align-items: 'center';
  height: 85px;

}

.embla__slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.embla__slide img {
  width: auto;
  height: 85px; /* o el alto que uses en el carrusel */
  display: block;
  margin: 0 auto;
}

.embla-form {
  overflow:hidden;
}

.embla__container-form {
  display: flex;
}

.embla__slide-form {
  flex: 0 0 100%;
  display: flex;
  justify-content: 'center';
  align-items: 'center';
  height: auto;
  width:100%;

}